.example {
  text-align: center;
  padding: 2rem;
  background: #f9fafb;
  border-radius: 1rem;

  h1 {
    color: $primary-color;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-bottom: 0.5rem;
  }

  p {
    color: $text-color;
    margin-bottom: 1rem;
  }

  button {
  }
}
