body {
  background: url('/assets/bg-windows.png') no-repeat top right;
  background-size: 50%;
}

.example {
  text-align: center;
  padding: 2rem;
  background: #f9fafb;
  border-radius: 1rem;

  h1 {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  button {
  }
}

.bg-barnred {
  background: #8b2e2e;
}

.bg-window-white {
  background-image: url('/assets/andrew-neel-w_bGL0Xfd3A-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.services-icon {
  max-width: 120px;
}
