---
const services = [
  {
    step: '01',
    name: 'Repair',
    description: 'Let us repair your existing windows before you spend thousands replacing them.',
  },
  {
    step: '02',
    name: 'Restoration',
    description:
      'Even the oldest windows can be restored to their original beauty, and in the process, we can also enhance their functionality. Not to menttion, save you money!',
  },
  {
    step: '03',
    name: 'Historic Restoration',
    description:
      'If you own a historic building, we can preserve their historical significance, ensuring that your building remains true to its heritage.',
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-12 sm:gap-16">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Services</h2>
      <div class="grid gap-8 lg:grid-cols-3">
        {
          services.map((service) => (
            <div class="bg-barnred flex flex-col gap-12  rounded-3xl px-6 py-8">
              <p class="text-sm">{service.step}</p>
              <div class="flex flex-col gap-4">
                <h3 class="text-xl font-medium">{service.name}</h3>
                <p class="text-base  text-primary-200/70 sm:text-lg">{service.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
